*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 35.7em;
    display: grid;
    align-items: center;
    grid-template-columns: 8fr 4fr;
    background-color: #19e0ff;
    border-radius: 0.2em;
    animation : neon-glow 0.4s ease-in-out infinite alternate
}

.clock-container{
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    font-size: 3.7em;
    margin-left: 0.2em;
    border-radius: 0.1em;
    padding: 0.2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock-container span{
    width: 120px;
    display: inline-block;
    text-align: center;
}
.hours{
    color: rgb(0, 152, 13);
}
.minutes{
    color: rgb(16, 155, 160);
}
.seconds{
    color: red;
}

/* animation */

@keyframes neon-glow{

    0%{
        box-shadow : 0 0 5px #0c9b07 , 0 0 20px #910707
    }
    100%{
        box-shadow: 0 0 20px #6a0084 , 0 0 30px #b700c1;
    }
}
.date-container{
    padding: 10px;
    background-color:#338dd7;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
.date-container span{
    font-size: 2.5em;
}